Importando as bibliotecas

In [40]:
import pandas as pd

# 1. Carregamento dos dados

In [41]:
df = pd.read_csv(
    r'C:\Users\Nityananda\Desktop\Datasets\votacao_secao_2022_CE.csv',
    sep= ';', encoding= 'latin-1'
)

In [42]:
df.head(3)

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,...,NR_SECAO,CD_CARGO,DS_CARGO,NR_VOTAVEL,NM_VOTAVEL,QT_VOTOS,NR_LOCAL_VOTACAO,SQ_CANDIDATO,NM_LOCAL_VOTACAO,DS_LOCAL_VOTACAO_ENDERECO
0,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,6,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,4,1023,60001608890,CENTRO COMUNITARIO CONJUNTO SAO FRANCISCO,RUA ILHA DO BOTE 367
1,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,266,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,13,1546,60001608890,ESCOLA MUNICIPAL ZINA MOREIRA,TIMBAUBA NOSSA SENHORA DAS DORES
2,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,119,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,3,1058,60001608890,EEM ENGENHEIRO AGEU ROMERO,RUA EVARISTO GOMES 143

# 2. Informações dos *dataframes*

## 2.1 Dimensões dos *dataframes*

Determinar as dimensões de um *dataframe* é indicar a quantidade de colunas e linhas.

In [43]:
f'O dataframe contém {df.shape[1]} colunas e {df.shape[0]} linhas.'

'O dataframe contém 26 colunas e 2509903 linhas.'

## 2.2 Infos do *dataframe*

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2509903 entries, 0 to 2509902
Data columns (total 26 columns):
 #   Column                     Dtype
---  ------                     -----
 0   DT_GERACAO                 object
 1   HH_GERACAO                 object
 2   ANO_ELEICAO                int64
 3   CD_TIPO_ELEICAO            int64
 4   NM_TIPO_ELEICAO            object
 5   NR_TURNO                   int64
 6   CD_ELEICAO                 int64
 7   DS_ELEICAO                 object
 8   DT_ELEICAO                 object
 9   TP_ABRANGENCIA             object
 10  SG_UF                      object
 11  SG_UE                      object
 12  NM_UE                      object
 13  CD_MUNICIPIO               int64
 14  NM_MUNICIPIO               object
 15  NR_ZONA                    int64
 16  NR_SECAO                   int64
 17  CD_CARGO                   int64
 18  DS_CARGO                   object
 19  NR_VOTAVEL                 int64
 20  NM_VOTAVEL                 object
 21  QT_VOTOS                   int64
 22  NR_LOCAL_VOTACAO           int64
 23  SQ_CANDIDATO               int64
 24  NM_LOCAL_VOTACAO           object
 25  DS_LOCAL_VOTACAO_ENDERECO  object
dtypes: int64(12), object(14)
memory usage: 497.9+ MB

## 2.3 Dados faltantes

É importante identificar a presença de dados faltantes ("not a number" ou `NaN`).

In [45]:
df.isnull().sum()

DT_GERACAO                   0
HH_GERACAO                   0
ANO_ELEICAO                  0
CD_TIPO_ELEICAO              0
NM_TIPO_ELEICAO              0
NR_TURNO                     0
CD_ELEICAO                   0
DS_ELEICAO                   0
DT_ELEICAO                   0
TP_ABRANGENCIA               0
SG_UF                        0
SG_UE                        0
NM_UE                        0
CD_MUNICIPIO                 0
NM_MUNICIPIO                 0
NR_ZONA                      0
NR_SECAO                     0
CD_CARGO                     0
DS_CARGO                     0
NR_VOTAVEL                   0
NM_VOTAVEL                   0
QT_VOTOS                     0
NR_LOCAL_VOTACAO             0
SQ_CANDIDATO                 0
NM_LOCAL_VOTACAO             0
DS_LOCAL_VOTACAO_ENDERECO    0
dtype: int64

Não há em nenhuma das colunas do conjunto de dados a presença de dados faltantes.

## 2.4 Presença de dados faltantes

Para integridade dos dados também é importante detectar se há dados duplicados. Para isso:

In [46]:
df.loc[df.duplicated()]

Empty DataFrame
Columns: [DT_GERACAO, HH_GERACAO, ANO_ELEICAO, CD_TIPO_ELEICAO, NM_TIPO_ELEICAO, NR_TURNO, CD_ELEICAO, DS_ELEICAO, DT_ELEICAO, TP_ABRANGENCIA, SG_UF, SG_UE, NM_UE, CD_MUNICIPIO, NM_MUNICIPIO, NR_ZONA, NR_SECAO, CD_CARGO, DS_CARGO, NR_VOTAVEL, NM_VOTAVEL, QT_VOTOS, NR_LOCAL_VOTACAO, SQ_CANDIDATO, NM_LOCAL_VOTACAO, DS_LOCAL_VOTACAO_ENDERECO]
Index: []

[0 rows x 26 columns]

Não há dados duplicados no conjunto de dados.

# 3. Pré-processamento dos dados

## 3.1 Eliminação de colunas

As colunas entre `DT_GERACAO` e `NM_UE` contém apenas valores únicos. Além disso, os dados em algumas outras colunas da base de dados não serão úteis para o objetivo da análise posterior, por isso também devem ser excluídas.

São mantidas as colunas `NM_MUNICIPIO`, `NR_ZONA`, `NR_SECAO`, `DS_CARGO`, `NR_VOTAVEL`, `NM_VOTAVEL` e `QT_VOTOS`. Elas contêm informações sobre o nome do município, zona eleitoral, seção eleitoral, cargo ao qual o candidato concorreu, número do candidato e quantidade de votos, respectivamente:

In [47]:
df = df[['NM_MUNICIPIO', 'NR_ZONA', 'NR_SECAO', 'DS_CARGO', 'NR_VOTAVEL', 'NM_VOTAVEL', 'QT_VOTOS']]

In [48]:
df.head(2)

,NM_MUNICIPIO,NR_ZONA,NR_SECAO,DS_CARGO,NR_VOTAVEL,NM_VOTAVEL,QT_VOTOS
0,FORTALEZA,94,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,4
1,RUSSAS,9,266,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,13

## 3.2 Renomeação das colunas

Por razão estética e de boas práticas, os nomes das colunas são renomeados de forma que todos os caracteres estejam em caixa baixa.

In [49]:
df = df.rename(
    {'NM_MUNICIPIO': 'nm_municipio', 'NR_ZONA': 'nr_zona', 'NR_SECAO': 'nr_secao', 'DS_CARGO': 'ds_cargo', 
     'NR_VOTAVEL': 'nr_votavel', 'NM_VOTAVEL': 'nm_votavel', 'QT_VOTOS': 'qt_votos'}, axis= 1
)

In [50]:
df.head(2)

,nm_municipio,nr_zona,nr_secao,ds_cargo,nr_votavel,nm_votavel,qt_votos
0,FORTALEZA,94,6,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,4
1,RUSSAS,9,266,DEPUTADO FEDERAL,4444,HEITOR RODRIGO PEREIRA FREIRE,13

## 3.3 Transformação dos dados das colunas `nr_zona` e `nr_secao`

Apesar de serem dados com valores numéricos e do tipo *int*, são dados que representam zonas e seções eleitorais. Portanto, são valores nominais. Por isso, devem ser covertidos para *str*.

### 3.3.1 Coluna `nr_zona`

In [51]:
df['nr_zona'].dtypes # retorna o tipo de dado da coluna nr_zona

dtype('int64')

Os dados da coluna são convertidos:

In [52]:
df['nr_zona'] = df['nr_zona'].astype(str)

### 3.3.2 Coluna `nr_secao`

In [53]:
df['nr_secao'].dtypes # retorna o de tipo de dado da coluna nr_secao

dtype('int64')

In [54]:
df['nr_secao'] = df['nr_secao'].astype(str)

As colunas com os dados convertidos para *string*:

In [55]:
df[['nr_zona', 'nr_secao']].dtypes

nr_zona     object
nr_secao    object
dtype: object

In [56]:
df.dtypes

nm_municipio    object
nr_zona         object
nr_secao        object
ds_cargo        object
nr_votavel       int64
nm_votavel      object
qt_votos         int64
dtype: object

# 4. Exportação dos dados processados

Finalizado o tratamento dos dados o conjunto de dados passa a ter a seguinte configuração:

* `nm_municipio`: nome do município do estado do Ceará;
* `nr_zona`: número da zona eleitoral;
* `nr_secao`: número da seção eleitoral;
* `ds_cargo`: cargo disputado;
* `nr_votavel`: número do candidato;
* `nm_votavel`: nome do candidato;
* `qt_votos`: quantidade de votos.

Exportam-se os dados em um arquivo de formato *csv*:

In [57]:
df.to_csv(
    r'C:\Users\Nityananda\Desktop\Datasets\votacao_secao_2022_CE_tratado.csv',
    index= False, encoding= 'latin-1'
)